 * {
    box-sizing: content-box;
  }

 body {
    margin: 0;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    
}
.bg{

    background-image: url(mov_background.png);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x:hidden ;
    background-attachment: fixed;

}
.formulario{

    background: #fff;
    padding:60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin: 30px;
    

   }
.formulario__titulo{
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);


}
.formulario__input, .formulario__label , .formulario__submit {
    display: block;        /*ver variaciones*/
    width: 100%;
    margin-bottom: 40px;
    font-size: 1.3em;

}
.formulario__input{
padding: 20px;
border: solid 1px rgba(0, 0, 0, 0.3);
background: rgba(0, 0, 0, 0.2);
}

.formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0.2);


}

.formulario__input:focus + .formulario__label {
    margin-top: -135px;

}
.formulario__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}
.formulario__submit{
    background:rgba(0, 0, 0, 0.8) ;
    color: white;
    padding: 10px 20px;
    cursor: pointer; 
    border: none;
    
}
.fijar{
    margin-top: -135px;
}
.bg_image{
    background-image: url(fondo.png) ;
    background-repeat: no-repeat;
    font-family: sans-serif;
     top: 0;
    left: 0;
    margin:auto ;
    

}
.carrousel{
    width: 600px;
    max-height: 10px;
    position:relative;
    top: -400px;
    right:-200PX;
    border: solid gray;
}
/*input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
<input id="test" type="number">*/